@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  height: 100%;
}

:root {
  --color-bg: #f9fafb;
  --color-surface: #ffffff;
  --color-border: #e5e7eb;
  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;
  --color-text-placeholder: #9ca3af;
  --color-input-disabled: #f3f4f6;

  --color-primary: #0d9488; /* teal-600 */
  --color-primary-hover: #0f766e; /* teal-700 */
  --color-primary-light: #f0fdfa; /* teal-50 */
  --color-primary-ring: #99f6e4; /* teal-200 */

  --color-secondary: #4f46e5; /* indigo-600 */
  --color-secondary-hover: #4338ca; /* indigo-700 */
  --color-secondary-light: #eef2ff; /* indigo-50 */

  --color-success: #16a34a; /* green-600 */
  --color-success-light: #dcfce7; /* green-50 */
  --color-success-ring: #86efac; /* green-200 */

  --color-error: #dc2626;
  --color-error-hover: #b91c1c;
  --color-error-light: #fef2f2;
}

.dark {
  --color-bg: #0f172a;
  --color-surface: #1e293b;
  --color-border: #334155;
  --color-text-primary: #f1f5f9;
  --color-text-secondary: #94a3b8;
  --color-text-placeholder: #64748b;
  --color-input-disabled: #1e293b;

  --color-primary: #14b8a6; /* teal-500 */
  --color-primary-hover: #0d9488; /* teal-600 */
  --color-primary-light: #0f2a27; /* dark teal */
  --color-primary-ring: #134e4a; /* teal-900 */

  --color-secondary: #6366f1; /* indigo-500 */
  --color-secondary-hover: #4f46e5; /* indigo-600 */
  --color-secondary-light: #1e1b4b; /* dark indigo */

  --color-success: #22c55e; /* green-500 */
  --color-success-light: #14532d; /* dark green */
  --color-success-ring: #166534; /* green-700 */

  --color-error: #f87171; /* red-400  */
  --color-error-hover: #ef4444; /* red-500 */
  --color-error-light: #2a0f0f; /* dark red */
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  cursor: pointer;
}

/* Firefox */
input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}
